/*html{*/
/*    scroll-behavior: smooth;*/
/*}*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1ffed;
}
.carousel{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 3%;
    background-color: #f1ffed;
}
.footer{
    background-color: #d1ffbb;
    height: 5vh;
    color: #ff620e;
    padding: 0;
}
@media screen and (max-width : 1500px) {
    .footer {
        height: 10vh;
    }
}
@media screen and (max-width : 600px) {
    .footer {
        height: 15vh;
    }
}